@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
  font-family:  "Oswald", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.pixabay.com/photo/2014/11/04/20/21/dollars-517113_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.app {
   max-width: 600px; 
  margin: 0px auto;
  padding: 100px;  
  text-align: center;
}

h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

.converter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input[type="number"],
select {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #d4db0c;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
}

button:hover {
  background-color: #373838;
}

h2 {
  margin-top: 20px;
  font-size: 50px;
  color: #000a0d;
}